.logo {
  width: 95px;
  height: 75px;
  padding-right: 20px;
}

.active-menu {
  color: #14bbbb !important;
}

a:hover {
  color: #14bbbb !important;
}

.profile-photo {
  width: 100px;
  height: 100px;
}

.details {
  padding: 1%;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #101111;
}
td {
  cursor: pointer;
}

.highlight {
  background-color: blue;
  color: white;
}

.marking-default {
  background-color: #9e9e9e;
  color: white;
}

.present {
  background-color: green;
  color: white;
}

.absent {
  background-color: red;
  color: white;
}

.scrollable {
  height: 420px;
  overflow: auto;
}

.page-margin {
  margin: 10px 30px 0px 10px;
}

.tick {
  background-color: green;
  color: white;
}

.cross {
  background-color: red;
  color: white;
}

.select-all {
  background-color: rgb(13, 93, 168);
  color: white;
}
